body {
    text-align: center;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

textarea {
    width: 25%;
    height: 20%;
    font-size: 18px;
    text-overflow: auto;
    padding: 10px;
}

button {
    font-size: 18px;
}

input {
    font-size: 18px;
}

#name-entry {
    margin: 10px;
    font-size: 18px;
}

#battleground {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#player1, #player2, #win-lose {
    border: 1px solid gray;
    width: 30%;
    height: 150px;
    padding: 10px;
    float: left;
    margin: 10px;
    line-height: 2rem;
}

#player1, #player2 {
    font-size: 24px;
}

#win-lose {
    font-size: 30px;
}

#chat-channel {
    margin-top: 20px;
    padding: 20px;
}

#messages {
    position: relative;
    clear: both;
}

#text-input {
    clear: left;
}

.hidden {
    visibility: hidden;
}